<!-- templates/html/react_app.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elevate | Senior Companion</title>
    <!-- Direct reference to the CSS file with the correct hash -->
    <link rel="stylesheet" href="{% static 'css/main.be8b63d2.css' %}">
    <!-- This helps with CSRF token for React -->
    <script>
        window.CSRF_TOKEN = "{{ csrf_token }}";
    </script>
</head>
<body>
    <div id="root"></div>
    <!-- Direct reference to the JS file with the correct hash -->
    <script src="{% static 'js/main.38d0b917.js' %}"></script>
</body>
</html>